
.navbar-toggler:hover{
	background: rgba(76, 17, 99 , 0.6) ;
}

.offcanvas {
  font-family: cursive, sans-serif; 
}

.offcanvas-header {
  background-color: #350B54;
  color: #ffff;
}

.offcanvas-body {
  background-color: #350B54;
  color: #ffff;
}

.offcanvas a {
  color: #ffff;
}
.offcanvas li .dropdown-item {
  color: black;
}

.offcanvas a:hover {
  background-color: #4C0B5F;
}



