<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Cartographie</title>
<style>

body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
   
    margin-left: 0;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    
}


#sidebar-wrapper .list-group {
    width: 12rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
label{
	font-family:optima;
}
span{
	font-family:optima;
}


</style>

<link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
<link rel="stylesheet" href="https://unpkg.com/@geoapify/leaflet-address-search-plugin@^1/dist/L.Control.GeoapifyAddressSearch.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://unpkg.com/@geoapify/leaflet-address-search-plugin@^1/dist/L.Control.GeoapifyAddressSearch.min.js"></script>
    
</head>
<body>
<div layout:fragment="content">
<br/>

<input type="hidden" id="projet" th:value="${listProjet}"/>


<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right vh-100" id="sidebar-wrapper">
       
        <div class="list-group list-group-flush overflow-auto h-100">
 
         <div class="row" >
       
		<div th:if="${listProjet}" th:each="p:${listProjet}">
		
		<a th:href="@{cartographie(idProjet=${p.idProjet})}"><img class = "image" th:if="${p.dataImage.length==0} " src="../static/img/background.jpeg}"  th:src="@{/img/background.jpeg}" width="150" height="100" alt="test" style=" border-radius:4%; border:1px solid gray; border: 2px solid #FFFFFF; 
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);"/></a>
		<a th:href="@{cartographie(idProjet=${p.idProjet})}"><img class = "image" th:if="${p.dataImage.length>0}" th:src="@{'data:image/jpeg;base64,'+${p.generateBase64Image()}}" width="150" height="100" alt="" style="border-radius:4%;border:1px solid gray; border: 2px solid #FFFFFF; 
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);"/></a>
		<br></br>
		
		</div>
		 
		</div>
  </div>
  
  
</div>
	<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal show border-end">
                <div id="sidebar-nav" style="width:200px;" >
               
                    <b><p data-bs-parent="#sidebar"><i class="bi bi-film"></i><span>Filtrer par :</span> </p></b>
                    <form th:action="@{cartographieDetails}" method="post" id="formulaire">
                    <input type="checkbox"   name="type" id="type" value="type" style="width:20px;height:20px">&nbsp;<span>Type</span>
                   
                   <br/>

                    <input type="checkbox"  name="region" id="region" value="region" style="width:20px;height:20px">&nbsp;<span>Région</span>
                     
                    <br/>
                    
                    <input type="checkbox"  name="departement" id="departement" value="departement" style="width:20px;height:20px">&nbsp;<span>Département</span>
               </form>
               <p></p>
              <a type="button" class="btn btn-secondary" th:href="@{cartographie}" >Tous les projets</a>
               <script th:inline="javascript">
			/*<![CDATA[*/		
	
		/*]]>*/
		</script>
                <hr/>
                
                &nbsp;&nbsp;<b><label>Projets &nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</label></b><span th:text="${nombreProjets}"></span> 
                <br/>
               &nbsp;&nbsp;<b><label>Régions :  &nbsp; &nbsp;&nbsp; </label></b><span th:text="${nombreRegions}"></span> 
               <hr/>
               
                &nbsp;&nbsp;<b><label>Partenaires :&nbsp; </label></b><span th:text="${listPart}"></span>
                <br/>
                &nbsp;&nbsp;<b><label>Type :&nbsp; </label></b><span th:text="${nomDuType}"></span>
                <hr/>
                </div>
            </div>
        </div>
        <main class="col ps-md-1">
       
            <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse"  class="border rounded-3 p-1 text-decoration-none"  ><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
           
            <div class="page-header pt-3">
               
            </div>
            
            <hr>
            <div class="row">
                <div class="col-12">
                    <div id="map" style="width: 112%; height: 87vh; margin-top:-50px;"></div>
                </div>
            </div>
        </main>
    </div>
</div>
 


<script th:inline="javascript">
/*<![CDATA[*/
var listLat = /*[[${listLat}]]*/ 'default';
var listLong = /*[[${listLong}]]*/ 'default';
var listName = /*[[${listName}]]*/ 'default';
var listTypeParRegion = /*[[${listTypeParRegion}]]*/ 'default';
var locationLat = /*[[${locationLat}]]*/ 'default';
var locationLon = /*[[${locationLon}]]*/ 'default';
var listTypeRegion = /*[[${listTypeRegion}]]*/ 'default';
var nomDuType = /*[[${nomDuType}]]*/ 'default';
var listPart = /*[[${listPart}]]*/ 'default';
let locations={};
let listLocations=[];

if(locationLat==null || locationLon==null){
	 let mapOptions = {
		    center:[14.695, -17.4463],
		    zoom:10
		}

		let mapList = new L.map('map' , mapOptions);

		let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
		mapList.addLayer(layer);
		
	for (let i in listLat){
	
	 locations = 
	    {
	        "id": i,
	        "lat":  listLat[i],
	        "long": listLong[i],
	        
	        
	    }
	 listLocations.push(locations);
	
	 if(listTypeParRegion!=null){
			var circle = L.circle([listLat[i], listLong[i]],{
				color:'white',
				fillColor:listTypeParRegion,
				fillOpacity:0.8,
				radius:2500
				}).addTo(mapList);
			}
	 var mapIcon = L.icon({
		 iconUrl:'map-marker.svg',
		 iconSize:[64, 74],
		 iconAnchor:[32, 74],
		 popupAnchor:[0, -50],
	 });
	 
	 
	
	}	
	
	
	let popupOption = {
	    "closeButton":false
	}
	
	listLocations.forEach(element => {
	    new L.Marker([element.lat,element.long], {draggable: true, opacity:0.7, title:"Cartographie des partenaires"}).addTo(mapList)
	    
	    .on("mouseover",event =>{
	        event.target.bindPopup('<div class="card"> <span>'+listPart+'</span></div>',popupOption).openPopup();
	    })
	    .on("mouseout", event => {
	        event.target.closePopup();
	    })
	   
	}); 
	
	
	
		
	
}else{
var map = L.map('map').setView([locationLat, locationLon], 8);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    MaxZoom: 19,
}).addTo(map);

L.marker([locationLat, locationLon]).addTo(map)
    .bindPopup((locationLat, locationLon).display_name)
    .openPopup();
}


/*]]>*/
</script>


 </div>
	
	</div>
</body>
</html>