<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Cartographie</title>
<style>

</style>

<link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
<link rel="stylesheet" href="https://unpkg.com/@geoapify/leaflet-address-search-plugin@^1/dist/L.Control.GeoapifyAddressSearch.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://unpkg.com/@geoapify/leaflet-address-search-plugin@^1/dist/L.Control.GeoapifyAddressSearch.min.js"></script>
    
</head>
<body>
<div layout:fragment="content">
<br/>
<div class=container>
<input type="hidden" id="projet" th:value="${listProjet}"/>
<input type="hidden" id="partenaire" th:value="${listPartenaire}"/>
<input type="hidden" id="localisation" th:value="${listLocalisation}"/>
<input type="hidden" id="loc" th:value="${loc}"/>


<div class="offcanvas offcanvas-start show" data-bs-scroll="true" data-bs-backdrop="false" style="width:200px;margin-top:54px;" tabindex="-1" id="offcanvas"  aria-labelledby="offcanvasLabel">
  
  <div class="offcanvas-body" style="background:  #FBFCFC">
 
         <div class="row">
        
		<div class="col-md" th:if="${listProjet}" th:each="p:${listProjet}" style="margin:auto">
		<a th:href="@{cartographie(query = 'Tambacounda')}"><img class = "image" th:if="${p.dataImage.length==0} " src="../static/img/background.jpeg}"  th:src="@{/img/background.jpeg}" width="150" height="100" alt="test" style=" border-radius:4%; border:1px solid gray; border: 2px solid #FFFFFF; 
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);"/></a>
		<a th:href="@{cartographie(nomProjet=${p.nomProjet})}"><img class = "image" th:if="${p.dataImage.length>0}" th:src="@{'data:image/jpeg;base64,'+${p.generateBase64Image()}}" width="150" height="100" alt="" style="border-radius:4%;border:1px solid gray; border: 2px solid #FFFFFF; 
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);"/></a>
		<br></br>
		
		</div>
		 
		</div>
  </div>
 <!--  <div class="offcanvas-footer">
  
   
    <button type="button" class="btn-close" style="margin-left:220px" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> -->
</div>
	
<div id="map" style="width: 99%; height: 92vh;margin-top:-20px; margin-left:90px;"></div> 


<script th:inline="javascript">
/*<![CDATA[*/
var listLat = /*[[${listLat}]]*/ 'default';
var listLong = /*[[${listLong}]]*/ 'default';
var listId = /*[[${listId}]]*/ 'default';
var locationLat = /*[[${locationLat}]]*/ 'default';
var locationLon = /*[[${locationLon}]]*/ 'default';
let locations={};
let listLocations=[];

if(locationLat==null || locationLon==null){
	let mapOptions = {
		    center:[14.6537, -16.2337],
		    zoom:7
		}

		let mapList = new L.map('map' , mapOptions);

		let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
		mapList.addLayer(layer);
		
	for (let i in listLat){
	
	 locations = 
	    {
	        "id": i,
	        "lat":  listLat[i],
	        "long": listLong[i],
	        "title": "Dakar",
	        "url":"https://www.google.com/"
	    }
	 listLocations.push(locations);
	
	
	}	
	
	
	let popupOption = {
	    "closeButton":false
	}

	listLocations.forEach(element => {
	    new L.Marker([element.lat,element.long]).addTo(mapList)
	    .on("mouseover",event =>{
	        event.target.bindPopup('<div class="card"> <span>'+element.title+'</span></div>',popupOption).openPopup();
	    })
	    .on("mouseout", event => {
	        event.target.closePopup();
	    })
	   
	});
		
	
}else{
var map = L.map('map').setView([locationLat, locationLon], 8);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    MaxZoom: 19,
}).addTo(map);

L.marker([locationLat, locationLon]).addTo(map)
    .bindPopup((locationLat, locationLon).display_name)
    .openPopup();
}
/*]]>*/
</script>



	</div>
	</div>
</body>
</html>