<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Cartographie</title>
<style>

</style>

<link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
<link rel="stylesheet" href="https://unpkg.com/@geoapify/leaflet-address-search-plugin@^1/dist/L.Control.GeoapifyAddressSearch.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://unpkg.com/@geoapify/leaflet-address-search-plugin@^1/dist/L.Control.GeoapifyAddressSearch.min.js"></script>
    
</head>
<body>
<div layout:fragment="content">
<br/>
<div class=container>
<input type="hidden" id="projet" th:value="${listProjet}"/>
<input type="hidden" id="partenaire" th:value="${listPartenaire}"/>
<input type="hidden" id="localisation" th:value="${listLocalisation}"/>
<input type="hidden" id="loc" th:value="${loc}"/>


<div class="offcanvas offcanvas-start show" data-bs-scroll="true" data-bs-backdrop="false" style="width:200px;margin-top:54px;" tabindex="-1" id="offcanvas"  aria-labelledby="offcanvasLabel">
  
  <div class="offcanvas-body" style="background:  #FBFCFC">
 
         <div class="row">
        
		<div class="col-md" th:if="${listProjet}" th:each="p:${listProjet}" style="margin:auto">
		<a th:href="@{cartographie(nomProjet=${p.nomProjet})}"><img class = "image" th:if="${p.dataImage.length==0} " src="../static/img/background.jpeg}"  th:src="@{/img/background.jpeg}" width="150" height="100" alt="test" style=" border-radius:4%; border:1px solid gray; border: 2px solid #FFFFFF; 
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);"/></a>
		<a th:href="@{cartographie(nomProjet=${p.nomProjet})}"><img class = "image" th:if="${p.dataImage.length>0}" th:src="@{'data:image/jpeg;base64,'+${p.generateBase64Image()}}" width="150" height="100" alt="" style="border-radius:4%;border:1px solid gray; border: 2px solid #FFFFFF; 
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);"/></a>
		<br></br>
		
		</div>
		 
		</div>
  </div>
 <!--  <div class="offcanvas-footer">
  
   
    <button type="button" class="btn-close" style="margin-left:220px" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> -->
</div>

<div id="map" style="width: 99%; height: 92vh;margin-top:-20px; margin-left:90px;"></div> 

<script th:inline="javascript">
let locations = [
    {
        "id": 1,
        "lat": 14.695,
        "long":  -17.4463,
        "title": "Dakar",
        "url":"https://www.google.com/"
    },
    {
        "id": 2,
        "lat": 15.6094,
        "long": -16.2323,
        "title": "Louga",
       
    },
    {
        "id": 3,
        "lat": 14.769,
        "long": -16.9327, 
        "title": "Thiès",
       
    },
    {
        "id": 4,
        "lat": 16.0373,
        "long": -16.5042,
        "title": "Saint-Louis",
        
    },
    {
        "id": 5,
        "lat": 13.762,
        "long": -13.629,
        "title": "Tamba",
        
    },
    {
        "id": 6,
        "lat": 14.6537,
        "long": -16.2337,
        "title": "Diourbel",
        
    },
    {
        "id": 6,
        "lat": 15.6492,
        "long": -13.2742,
        "title": "Matam",
        
    },
]

let popupOption = {
    "closeButton":false
}

let mapOptions = {
	    center:[15.363, -15.595],
	    zoom:8
	}


	let map = new L.map('map' , mapOptions);

	let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
	map.addLayer(layer);
locations.forEach(element => {
    new L.Marker([element.lat,element.long]).addTo(map)
    .on("mouseover",event =>{
        event.target.bindPopup('<div class="card"> <span>'+element.title+'</span></div>',popupOption).openPopup();
    })
    .on("mouseout", event => {
        event.target.closePopup();
    })
   
});
</script>
<script>
	let apiKey = "1ff01f80c3fb4dd6bc698a2516e7c0df",
	    marker = null;


	const addressSearchControl = L.control.addressSearch(apiKey, {
	    position: 'topleft',

		//set it true to search addresses nearby first
	    mapViewBias:true,

	    //Text shown in the Address Search field when it's empty
	    placeholder:"Adresse",

	    // /Callback to notify when a user has selected an address
	    resultCallback: (address) => {
			// If there is already a marker remove it
	        if (marker) {
	          	marker.remove();
	        }
			//Prevent throwing Errors when the address search box is empty
			if (!address) {
					return;
			}
	     	
			//add marker 
			marker = L.marker([address.lat, address.lon]).addTo(map);
			//Sets the view of the map (geographical center and zoom) with the given animation options.
			map.setView([address.lat, address.lon], 20);
	      },


	      //Callback to notify when new suggestions have been obtained for the entered text
	      suggestionsCallback: (suggestions) => {
	        console.log(suggestions);
	      }
	});


	map.addControl(addressSearchControl);
</script>
	 
	
	</div>
	</div>
</body>
</html>