<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Choisir un partenaire</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>


.rouge {
	appearance:none;
	background:red;
 	border-radius:50px;
 	border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}


.orange {
	appearance:none;
	background:#F39C12;
 	border-radius:50px;
 	border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.jaune {
	appearance:none;
	background:yellow;
	border-radius:50px;
	border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}


.modalRouge:checked {
	appearance:none;
	background:red;
	border-radius:50px
}
.modalRouge:checked {
 outline:1px auto #B3B6B7 ; 
}
.modalOrange:checked {
	appearance:none;
	background:#F39C12;
	border-radius:50px
}
.modalOrange:checked {
 outline:1px auto #B3B6B7 ; 
}
.modalJaune:checked {
	appearance:none;
	background:yellow;
	border-radius:50px
}
.modalJaune:checked {
 outline:1px auto #B3B6B7 ; 
}


input[type='radio']:hover {
  transform:scale(1.5);
}

</style>

<script  th:inline="javascript">
document.addEventListener("DOMContentLoaded", function(event){
	let projet = document.getElementsByName('radioButtonSelected');
	
	
	
	
	for (let i = 0; i < projet.length; i++) {
		let projet1 = document.getElementsByName(projet[i].value);
		for (let a = 0; a < projet1.length; a++) {
		if( projet[i].value == projet1[a].value)
			document.getElementById(projet[i].value).style.display="none";
		}
	}

})
</script>
 <link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}"/>
</head>
<body >
<div layout:fragment="content">
<div class = "container">
<br/>
      
       <h5>Partenaires</h5>
       
  		 
  		 <hr/>
  
  <br/>					
 						 <div class="row">
  						<div class="col-md-6">
  						<form  th:action="@{/choixPartenaire}" method="post" th:object="${unProjet}">
  						 	
						<div class="input-group">
						<select class="form-select" id="nomProjet" th:field="*{nomProjet}">
						 <option th:each="b:${listProjet}" th:text="${b.nomProjet}" th:value="${b.nomProjet}"></option>
						</select>
						
						<button type="submit" class="btn btn-warning" >Changer</button>
						
						</div>
						</form>
						</div>
						<div class="col-md-6" style="text-align:right">
     		 <a th:href="@{/excelExport}" class="btn btn-success" style="border: 1px solid green; background-color: white; color: green;">
 			<i class="fas fa-file-excel"></i></a>
 			 </div>
 			 </div>
					<input type="hidden" name="listProjet" id="listProjet" th:value="${listProjet}"/>
					<br></br>
					<form th:action="@{/sauvegarderChoixPartenaire}" method="post" >
					<input type="hidden" name="nomProjet" th:value="${nomProjet}"/>
					<input type="hidden" name="idProjet" th:value="${idProjet}"/>
					
						
					<div class="table-responsive" th:if="${listPartenaire}">
						<table  class="table table-bordered" id="dataTable" style="width:100%; font-size:12px; font-family:Times">
						<thead>	
							<tr >
							<td th:text=${nomProjet}></td>
							<th:block  th:each="l:${listRegion}">						
							<td th:text="${l.nomRegion}" style="text-align:center; background:lightcyan">
							<input type="hidden" id="idRegion" name="idRegion"  th:value="${l.idRegion}"/>
							</td>
							
							</th:block>
							</tr>
						</thead>
							
						<tbody  id="bodyForm">
						
							<tr  th:each="p:${listPartenaire}" valign="middle" >
							<td th:text="${p.nomPartenaire}" style="background:lightcyan">
							<input  type="hidden" id="idPartenaire" name="idPartenaire"  th:value="${p.idPartenaire}" />
							</td>	
								 <td th:each="l:${listRegion}" style="text-align:center; padding:20px" th:with="test=1">
									<th:block th:with="test=2" th:each="pr:${listProjet}" >
									<th:block th:each="o:${pr.region}" th:if="${o.nomRegion} eq ${l.nomRegion}">
									<th:block th:each="t:${pr.type}" th:if="${o.nomRegion} eq ${l.nomRegion}">
									<th:block th:each="j:${pr.partenaire}" th:if="${o.nomRegion} eq ${l.nomRegion}">
									<input class="rouge"  th:if="${t.nomType} eq 'Egalite de genre' and ${o.idRegion} eq ${l.idRegion} and ${j.idPartenaire} eq ${p.idPartenaire}" type="radio" th:name="${p.idPartenaire}+'-'+${l.idRegion}" id="radioButton1" th:value="${p.idPartenaire}+'-'+${l.idRegion}" style="height:20px; width:20px" checked />								
									<input class="orange"  th:if="${t.nomType} eq 'Education / Formation professionnelle' and ${j.idPartenaire} eq ${p.idPartenaire}" type="radio" th:name="${p.idPartenaire}+'-'+${l.idRegion}" id="radioButton2" th:value="${p.idPartenaire}+'-'+${l.idRegion}" style="height:20px; width:20px; " checked />
									<input class="jaune"  th:if="${t.nomType} eq 'Gouvernance' and ${o.idRegion} eq ${l.idRegion} and ${j.idPartenaire} eq ${p.idPartenaire}" type="radio"  th:name="${p.idPartenaire}+'-'+${l.idRegion}" id="radioButton3" th:value="${p.idPartenaire}+'-'+${l.idRegion}" style="height:20px; width:20px;" checked />
								<input  type="hidden" id="idType" name="idType"  th:value="${t.nomType}" />
								</th:block>
								</th:block>
								</th:block>
								</th:block>
																
									 <input th:if="${test} eq 1" type="radio" th:name="radioButtonSelected" th:id="${p.idPartenaire}+'-'+${l.idRegion}" th:value="${p.idPartenaire}+'-'+${l.idRegion}" style="height:20px; width:20px;box-shadow:0 0 5px 0px lightblue inset;" th:onclick="getIdRadioButtonSelected([[${p.idPartenaire}+'-'+${l.idRegion}]], [[${p.nomPartenaire}]], [[${l.nomRegion}]])" />								
								 
								</td> 								
								
							
							</tr>	
										
						</tbody>
						</table>
						
						 </div>
						 <br/>
						 <button type="submit" class="btn btn-success" style="margin-left:600px">Enregistrer</button>
	</form>					 
						   <br></br>

  <!-- Fenetre modal choix du type -->
<div class="modal fade" id="choixPartenaire" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Choisir un type</h5>
        
      </div>
      <div class="modal-body" id="modal-body">
    	 <input class="modalRouge" type = "radio"  name="radioButtonModal" id="radioButtonRouge"  style=" height:20px; width:20px; transition: box-shadow 0.3s ease;"/>&nbsp;&nbsp;<span style="color:red">Rouge</span> : Egalité de genre<br/>
		 <input class="modalOrange" type = "radio"  name="radioButtonModal" id="radioButtonOrange" style="height:20px; width:20px; transition: box-shadow 0.3s ease;"/>&nbsp;&nbsp;<span style="color:orange">Orange</span> : Education / Formation professionnelle<br/>
		 <input class="modalJaune" type = "radio"  name="radioButtonModal" id="radioButtonJaune" style="height:20px; width:20px; transition: box-shadow 0.3s ease;"/>&nbsp;&nbsp;<span style="color:yellow;">Jaune</span> : Gouvernance<br/>
		 <input type = "radio"  name="radioButtonModal" id="radioButtonAucun" style="height:20px; width:20px;"/>&nbsp;&nbsp;<span>Aucun</span><br/>
      </div>
     
      
      <div class="modal-footer">
       
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:href="@{/choixPartenaire}">Fermer</button>
        <a type="button" id="buttonValider" class="btn btn-primary" >Valider</a>
         
      </div>
    </div>
  </div>
</div>

<script th:inline="javascript">


function getIdRadioButtonSelected(idButtonRadioSelected, nomPart, libLocalisation){
	
	var modal = new bootstrap.Modal(document.getElementById('choixPartenaire'), {
		  keyboard: false
		})
	if(document.getElementById('idButtonRadioSel'))
		document.getElementById('idButtonRadioSel').remove();
	if(document.getElementById('nomPart'))
		document.getElementById('nomPart').remove();
	if(document.getElementById('libLocalisation'))
		document.getElementById('libLocalisation').remove();
	
	var data = "<input type='hidden' id='idButtonRadioSel' />"
	var dataPartenaire = "<input type='hidden' id='nomPart' value='"+nomPart+"' />"
	var dataLocalisation = "<input type='hidden' id='libLocalisation' value='"+libLocalisation+"' />"
	document.getElementById('modal-body').innerHTML+=data;
	
	document.getElementById('modal-body').innerHTML+=dataPartenaire;
	document.getElementById('modal-body').innerHTML+=dataLocalisation;
	modal.show();
	document.getElementById('idButtonRadioSel').value=idButtonRadioSelected;
	
	
	document.getElementById('buttonValider').addEventListener('click', function(){
		modal.hide();
		
		var idR=document.getElementById('idButtonRadioSel').value;
		if(document.getElementById('nomDuPartenaire'))
			document.getElementById('nomDuPartenaire').remove();
		if(document.getElementById('libelleDeLaLocalisation'))
			document.getElementById('libelleDeLaLocalisation').remove();
		
		var nomParte = document.getElementById('nomPart').value;
		var libLoc = document.getElementById('libLocalisation').value;
		
		var dataNomPartenaire = "<input type='hidden' name='nomDuPartenaire' id='nomDuPartenaire' value='"+nomParte+"' />"
		
		var dataLibelleLocalisation = "<input type='hidden' name='nomRegion' id='libelleDeLaLocalisation' value='"+libLoc+"' />"
		
		document.getElementById('bodyForm').innerHTML+=dataNomPartenaire;
		document.getElementById('bodyForm').innerHTML+=dataLibelleLocalisation;
		
		if(document.getElementById('radioButtonRouge').checked){
			document.getElementById(idR).checked = true;
			document.getElementById(idR).style.accentColor = "red";
			document.getElementById(idR).value = "rouge";
			document.getElementById('radioButtonSelected').value = "rouge";
			
		}
		if(document.getElementById('radioButtonOrange').checked){
			document.getElementById(idR).checked = true;
			document.getElementById(idR).style.accentColor = "orange";
			document.getElementById(idR).value = "orange";
			document.getElementById('radioButtonSelected').value = "orange";
		}
			
		if(document.getElementById('radioButtonJaune').checked){
		
			document.getElementById(idR).checked = true;
			document.getElementById(idR).style.accentColor = "yellow";
			document.getElementById(idR).value = "jaune";
			document.getElementById('radioButtonSelected').value = "jaune";
		}
		if(document.getElementById('radioButtonAucun').checked){
			document.getElementById(idR).checked = false;
			
		}
		
	})	  
	
}

</script>



						
						 Légende<br/>
						 <input class="rouge" type = radio style="height:20px; width:20px;transform:none;" checked/>&nbsp;&nbsp;Rouge : Egalité de genre<br/>
						 <input class="orange" type = radio style=" height:20px; width:20px;transform:none; " checked/>&nbsp;&nbsp;Orange : Education / Formation professionnelle<br/>
						 <input class="jaune" type = radio style="height:20px; width:20px;transform:none;" checked/>&nbsp;&nbsp;Jaune : Gouvernance<br/>
	
	<!-- Fenetre modal succes-->

   <form th:action="@{choixPartenaire(nomProjet=${nomProjet}, idProjet=${idProjet})}" method="post">
   
<div class="modal fade" id="myModal" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body" id="modal-body-modifier">
      <h6>Partenaire enregistré</h6>
    	 
    	 <div style="text-align:right">
    	
        <button type="submit" id="button" class="btn btn-info" >Fermer</button>
         </div>
      </div>
    </div>
  </div>
</div>

</form>	
	<script th:inline="javascript" th:if="${flag} eq '1'">
	var modal = new bootstrap.Modal(document.getElementById('myModal'), {
		  keyboard: false
		})
	modal.show();
</script>	

<!-- Fenetre modal aucune modification-->

   <form th:action="@{choixPartenaire(nomProjet=${nomProjet}, idProjet=${idProjet})}" method="post">
   
<div class="modal fade" id="modalAucunChangement" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body" id="modal-body-aucun-cahnegement">
      <h6 style="text-align:center">Aucune modification n'a été apportée</h6>
    	 &ensp;
    	 <div style="text-align:center">
    	
        <button type="submit" id="button" class="btn btn-info" >Fermer</button>
         </div>
      </div>
    </div>
  </div>
</div>

</form>	
	<script th:inline="javascript" th:if="${flag} eq '2'">
	var modal = new bootstrap.Modal(document.getElementById('modalAucunChangement'), {
		  keyboard: false
		})
	modal.show();
</script>		 	 
   </div>
</div>


</body>
</html>