<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Accueil</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 
 
<style>
.radioProjet {
	appearance:none;
 	border-radius:50px;
 	border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}


input[type='radio']:hover {
  transform:scale(1.5);
}

</style>

 <link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}"/>
</head>
<body >
<div layout:fragment="content">
<div class = "container">
<br/>
    <div class="row">
      <div class="col-md-11">
       <h5>Projets-Partenaires</h5>
        </div>
         
  		 &ensp;
  		 
  		 <hr/>
  </div>  
     <br></br>
				
 						 <div class="row">
  						<div class="col-md-5">
  						<form  th:action="@{/displayChoixPartenaire}" method="post" th:object="${unProjet}">
  						 	
						<div class="input-group">
						 <span class="input-group-text" id="basic-addon1">Projet :</span>
						<select class="form-select" id="nomProjet" th:field="*{nomProjet}">
						 <option th:each="b:${listProjet}" th:text="${b.nomProjet}" th:value="${b.nomProjet}"></option>
						</select>
						<input type="hidden" name="pageAAfficher" value="ChoixPartenaire"/>
						
						<input type="hidden" th:field="*{pointFocal}"/>
						<div th:object="${unPartenaire}">
						<input type="hidden" th:field="*{nomPartenaire}"/>
						</div>
						<button id="boutonChanger" type="submit" class="btn btn-warning"  >Changer</button>
						<script type="text/javascript" th:if="${flag}">  

$(document).ready(function(){
    $('#boutonChanger').trigger('click');
});
</script>
						</div>
						</form>
						</div>
						<div class="col-md-6" style="text-align:center">
						<a type="button" th:href="@{liaisonPartenaireProjet}" class="btn btn-info">Ajouter partenaire</a>
     				 </div>
     		<div class="col-md-1" style="text-align:right">
     		 <a th:href="@{/excelExport}" class="btn btn-success" style="border: 1px solid green; background-color: white; color: green;">
 			<i class="fas fa-file-excel"></i></a>
 			 </div>
 			 </div>
					<input type="hidden" name="listProjet" id="listProjet" th:value="${listProjet}"/>
					<br></br>
					<!-- <form th:action="@{/sauvegarderChoixPartenaire}" method="post" > -->
					<input type="hidden" name="nomProjet" th:value="${nomProjet}"/>
					<input type="hidden" name="idProjet" th:value="${idProjet}"/>
					
						
					<div class="table-responsive" th:if="${listPartenaire}">
						<table  class="table table-bordered" id="dataTable" style="width:100%; font-size:12px; font-family:Times">
						<thead>	
							<tr >
							
							<th:block  th:each="l:${projetName1}">
							<th:block  th:each="h:${l.type}">
							<td ><input type = "radio"  name="radioProjet" class="radioProjet" th:style="'height:20px; width:20px;transform:none; background:' + ${h.couleur} +''"  checked/>
							<span th:text="${h.nomType}"></span></td>
							</th:block>
							</th:block>
							<th:block  th:each="l:${listRegion}">						
							<td th:text="${l.nomRegion}" style="text-align:center; background:lightcyan">
							<input type="hidden" id="idRegion" name="idRegion"  th:value="${l.idRegion}"/>
							</td>
							
							</th:block>
							</tr>
						</thead>
							
						<tbody  id="bodyForm">
						
							<tr  th:each="p:${listPartenaire}" valign="middle" >
							
							<td th:text="${p.nomPartenaire}" style="background:lightcyan">
							
							<!-- <input  type="hidden" id="idPartenaire" name="idPartenaire"  th:value="${p.idPartenaire}" /> -->
							</td>	
							
								 <td th:each="l:${listRegion}" style="text-align:center; padding:20px" th:with="test=1">
									<th:block th:each="pr:${projetName}" >
									<th:block th:each="t:${pr.projet}">
									<th:block th:each="o:${pr.region}">
									<th:block th:each="j:${pr.partenaire}">
									<th:block  th:each="pj:${projetName1}">
							<th:block  th:each="h:${pj.type}">
									<input th:if=" (${p.idPartenaire}+'-'+${l.idRegion}) eq (${j.idPartenaire}+'-'+${o.idRegion})" class="radioProjet" type="radio" th:name="${p.idPartenaire}+'-'+${l.idRegion}" id="radioButton1" th:value="${p.idPartenaire}+'-'+${l.idRegion}" th:style="'height:20px; width:20px;transform:none; background:' + ${h.couleur} +''"  checked/>								
							</th:block>
								</th:block>
								
								</th:block>
								</th:block>
								</th:block>
								</th:block>
																
				
								</td> 								
								
							
							</tr>	
										
						</tbody>
						</table>
						
						 </div>
						 <br/>
						 
	<!-- </form>	 -->				 
						   <br></br>





   <form th:action="@{choixPartenaire(nomProjet=${nomProjet}, idProjet=${idProjet})}" method="post">
   
<div class="modal fade" id="myModal" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body" id="modal-body-modifier">
      <h6>Partenaire enregistré</h6>
    	 
    	 <div style="text-align:right">
    	
        <button type="submit" id="button" class="btn btn-info" >Fermer</button>
         </div>
      </div>
    </div>
  </div>
</div>

</form>	
	<!-- <script th:inline="javascript" th:if="${flag} eq '1'">
	var modal = new bootstrap.Modal(document.getElementById('myModal'), {
		  keyboard: false
		})
	modal.show();
</script>	 -->

<!-- Fenetre modal aucune modification-->

   <form th:action="@{displayChoixPartenaire(nomProjet=${nomProjet}, idProjet=${idProjet})}" method="post">
   
<div class="modal fade" id="modalAucunChangement" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body" id="modal-body-aucun-cahnegement">
      <h6 style="text-align:center">Aucune modification n'a été apportée</h6>
    	 &ensp;
    	 <div style="text-align:center">
    	
        <button type="submit" id="button" class="btn btn-info" >Fermer</button>
         </div>
      </div>
    </div>
  </div>
</div>

</form>	
	<!-- <script th:inline="javascript" th:if="${flag} eq '2'">
	var modal = new bootstrap.Modal(document.getElementById('modalAucunChangement'), {
		  keyboard: false
		})
	modal.show();
</script>	 -->	 	 
   </div>
</div>



</body>
</html>