<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Choisir un partenaire</title>
<link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
<link rel="stylesheet" href="https://unpkg.com/@geoapify/leaflet-address-search-plugin@^1/dist/L.Control.GeoapifyAddressSearch.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://unpkg.com/@geoapify/leaflet-address-search-plugin@^1/dist/L.Control.GeoapifyAddressSearch.min.js"></script>
<style>
.radioProjet {
	appearance:none;
 	border-radius:50px;
 	border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}


input[type='radio']:hover {
  transform:scale(1.5);
}

</style>

<!-- <script  th:inline="javascript">
document.addEventListener("DOMContentLoaded", function(event){
	let projet = document.getElementsByName('radioButtonSelected');
	
	
	
	
	for (let i = 0; i < projet.length; i++) {
		let projet1 = document.getElementsByName(projet[i].value);
		for (let a = 0; a < projet1.length; a++) {
		if( projet[i].value == projet1[a].value)
			document.getElementById(projet[i].value).style.display="none";
		}
	}

})
</script> -->
 <link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}"/>
	

	
</head>
<body >
<div layout:fragment="content">
<div class = "container">
<br/>
      
       
 				
  						<div th:if="${listProjet}">
 						
  						<form  th:action="@{/displayChoixPartenaire}" method="post" th:object="${unProjet}">
  						<input type="hidden" name="pageAAfficher" value="pageIndex"/>
  						<div class="row">
  						
  						<div class="col-md-3"><span>Projet</span>
						<select class="form-select" id="nomProjet" th:field="*{nomProjet}">
						 <option value="">Choisir</option>
						 <option th:each="b:${listProjet}" th:text="${b.nomProjet}" th:value="${b.nomProjet}"></option>
						</select>
												
						
						</div>
						
						<div class="col-md-3" th:object="${unPartenaire}">
						<span>Partenaire</span>
						
						<select class="form-select" id="nomPartenaire" th:field="*{nomPartenaire}">
						  <option value="">Choisir</option>
						 <option th:each="b:${listPartenaire}" th:text="${b.nomPartenaire}" th:value="${b.nomPartenaire}"></option>
						</select>
						
						
						</div>
						
						<div class="col-md-3">
						<span>Point focal</span>
						<select class="form-select" id="pointFocal" th:field="*{pointFocal}">
						 <option value="">Choisir</option>
						 <option th:each="p:${listProjetPoinFocal}" th:text="${p.pointFocal}" th:value="${p.pointFocal}"></option>
						</select>
						</div>
						
						
						<div class="col-md-3" th:object="${unType}">
						<span>Type</span>
						<select class="form-select" id="nomType" th:field="*{nomType}">
						 <option value="">Choisir</option>
						 <option th:each="b:${listType}" th:text="${b.nomType}" th:value="${b.nomType}"></option>
						</select>
						</div>
						</div>
						<br/>
						<div class="col-md" style="text-align:center">
						
						<button type="submit" class="btn btn-primary btn-sm">	Valider</button>
						</div>
						</form>
						<br/>
						<div class="container" th:if="(${projetName}==null) and (${partenaireName}==null) and (${pointFocalName}==null) and (${typeName}==null) ">
						 <div class="custom-map" id="map" style="width:1000px; height: 500px; border-radius:200px; margin:auto"></div>
						<div class="custom-nav" style="margin-top:-195px; font-family:cursive;">
								<nav class="navbar navbar-expand-md " style="border-radius: 10px 0 0 10px; width:15%; height:30px; background:#F5B041" >
  			 					&nbsp;&nbsp;&nbsp;&nbsp;<label>Projets :&nbsp;</label><span th:text="${nombreProjets}"></span>
  			 					</nav>
  			 					<br/>
  			 					<nav class="navbar navbar-expand-md " style="border-radius: 10px 0 0 10px; width:15%;height:30px; background:#F5B041" >
  			 					&nbsp;&nbsp;&nbsp;&nbsp;<label>Partenaires :&nbsp; </label><span th:text="${listPartSize}"></span>
  			 					</nav>
  			 					<br/>
  			 					<nav class="navbar navbar-expand-md " style="border-radius: 10px 0 0 10px; width:20%;height:30px; background:#F5B041" >
  			 					&nbsp;&nbsp;&nbsp;&nbsp;<label>Type :&nbsp; </label><span th:text="${nomDuType}"></span>
  			 					</nav>
  			 					<br/>
  			 					<nav class="navbar navbar-expand-md " style="border-radius: 10px 0 0 10px; width:25%;height:30px; background:#F5B041" >
  			 					&nbsp;&nbsp;&nbsp;&nbsp;<label>Communes :&nbsp; </label><span th:text="${nombreRegions}"></span>
  			 					</nav>
  	 
           
						
						</div>
 			  </div>
 			   
<script th:inline="javascript">
/*<![CDATA[*/
var listDesProjets = /*[[${listDesProjets}]]*/ 'default';
var listLat = /*[[${listLat}]]*/ 'default';
var listLong = /*[[${listLong}]]*/ 'default';
var listName = /*[[${listName}]]*/ 'default';
var listTypeParRegion = /*[[${listTypeParRegion}]]*/ 'default';
var locationLat = /*[[${locationLat}]]*/ 'default';
var locationLon = /*[[${locationLon}]]*/ 'default';
var nomDuType = /*[[${nomDuType}]]*/ 'default';
var listPart = /*[[${listPart}]]*/ 'default';
let locations={};
let locations1={};
let listLocations=[];

	 let mapOptions = {
		    center:[14.6497, -16.2337],
		    zoom:7
		}

		let mapList = new L.map('map' , mapOptions);

		let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
		mapList.addLayer(layer);
		
		if(listDesProjets instanceof Array){
			listDesProjets = listDesProjets.join('<br>');	
		}
		if(listPart instanceof Array){
			listPart = listPart.join('<br>');
		}
		
	for (let i in listLat){
		if(listPart instanceof Array){
	 locations = 
	    {
	        "id": i,
	        "lat":  listLat[i],
	        "long": listLong[i],
	        "partenaire": listPart[i],
	        
	    }
		}else{
			locations = 
		    {
		        "id": i,
		        "lat":  listLat[i],
		        "long": listLong[i],
		        "partenaire": listPart,
		        
		    }
			
		}
	 listLocations.push(locations);

	}	
		 
	var couleur="#2874A6" ;
		 
	let popupOption = {
	    "closeButton":false,
	    
	}
	
	
	listLocations.forEach(element => {
	    new L.Marker([element.lat,element.long], {icon: L.divIcon({
			 html:
				 '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M172.3 501.7C27 291 0 269.4 0 192 0 86 86 0 192 0s192 86 192 192c0 77.4-27 99-172.3 309.7-9.5 13.8-29.9 13.8-39.5 0zM192 272c44.2 0 80-35.8 80-80s-35.8-80-80-80-80 35.8-80 80 35.8 80 80 80z" fill="'+couleur+'"/></svg>',
		  className: "",
		  iconSize: [30, 42],
		  iconAnchor: [15, 42],
		  popupAnchor: [1, -34],
		})
		}).addTo(mapList)
	    .on("mouseover",event =>{
	        event.target.bindPopup('<div> <span><span><b>Projet(s) :</b></span><br><ul><li>'+listDesProjets+'</li></ul><span><b>Partenaire(s) :</b></span><br><ul><li>'+element.partenaire+'</li></ul></span></div>',popupOption).openPopup();
	    })
	    .on("mouseout", event => {
	        event.target.closePopup();
	    })   
	}); 
	


/*]]>*/
</script>
						
					<input type="hidden" name="listProjet" id="listProjet" th:value="${listProjet}"/>
					<br></br>
					<!-- <form th:action="@{/sauvegarderChoixPartenaire}" method="post" > -->
					<input type="hidden" name="nomProjet" th:value="${nomProjet}"/>
					<input type="hidden" name="idProjet" th:value="${idProjet}"/>
					<input type="hidden" name="nomPartenaire" th:value="${nomPartenaire}"/>
					<input type="hidden" name="pointFocal" th:value="${pointFocal}"/>
					<input type="hidden" name="nomType" th:value="${nomType}"/>
						
					<div class="table-responsive" th:if="${listPartenaire}">
						<table  class="table table-bordered" id="dataTable" style="width:100%; font-size:12px; font-family:Times">
						
	<!------------------------- Section pour Projet------------------------------------------- -->
	
						<thead th:if="${projetName!=null}">	
							<tr >
							
							<th:block  th:if="${projetName1}!=null" th:each="l:${projetName1}">
							<th:block  th:each="h:${l.type}">
							<td ><input type = "radio"  name="radioProjet" class="radioProjet" th:style="'height:20px; width:20px;transform:none; background:' + ${h.couleur} +''"  checked/><span th:text="${h.nomType}"></span><br/></td>
							</th:block>
							</th:block>
							<th:block  th:each="l:${listRegion}">						
							<td th:text="${l.nomRegion}" style="text-align:center; background:lightcyan">
							<input type="hidden" id="idRegion" name="idRegion"  th:value="${l.idRegion}"/>
							</td>
							
							</th:block>
							</tr>
						</thead>
							
						<tbody  th:if="${projetName}!=null" id="bodyForm">
						
							<tr  th:each="p:${listPartenaire}" valign="middle" >
							<td th:text="${p.nomPartenaire}" style="background:lightcyan">
							<input  type="hidden" id="idPartenaire" name="idPartenaire"  th:value="${p.idPartenaire}" />
							</td>	
								 <td th:each="l:${listRegion}" style="text-align:center; padding:20px" th:with="test=1">
									<th:block th:each="pr:${projetName}" >
									<th:block th:each="t:${pr.projet}">
									<th:block th:each="o:${pr.region}">
									<th:block th:each="j:${pr.partenaire}">
									<th:block  th:each="pj:${projetName1}">
							<th:block  th:each="h:${pj.type}">
									<input th:if=" (${p.idPartenaire}+'-'+${l.idRegion}) eq (${j.idPartenaire}+'-'+${o.idRegion})" class="radioProjet" type="radio" th:name="${p.idPartenaire}+'-'+${l.idRegion}" id="radioButton1" th:value="${p.idPartenaire}+'-'+${l.idRegion}" th:style="'height:20px; width:20px;transform:none; background:' + ${h.couleur} +''"  checked/>								
							</th:block>
								</th:block>
								
								</th:block>
								</th:block>
								</th:block>
								</th:block>					
				
								</td> 								
								
							
							</tr>	
										
						</tbody>
	<!------------------------- Section pour Partenaire------------------------------------------- -->
			
						<thead th:if="${partenaireName}!=null">	
							<tr >
				
							<td></td>
							
							<th:block  th:each="l:${listRegion}">						
							<td th:text="${l.nomRegion}" style="text-align:center; background:lightcyan">
							<input type="hidden" id="idRegion" name="idRegion"  th:value="${l.idRegion}"/>
							</td>
							
							</th:block>
							</tr>
						</thead>
						<tbody  th:if="${partenaireName}!=null" id="bodyForm">
						
							<tr  th:each="p:${listProjet}" valign="middle" >
							<td th:text="${p.nomProjet}" style="background:lightcyan">
							<input  type="hidden" id="idProjet" name="idProjet"  th:value="${p.idProjet}" />
							</td>	
								 <td th:each="l:${listRegion}" style="text-align:center; padding:20px">
									<th:block th:each="pr:${partenaireName}" >
									<th:block th:each="t:${pr.projet}">
									<th:block th:each="o:${pr.region}">
									<th:block  th:each="h:${t.type}">
									<input th:if=" (${p.idProjet}+'-'+${l.idRegion}) eq (${t.idProjet}+'-'+${o.idRegion})" class="radioProjet" type="radio" th:name="${p.idProjet}+'-'+${l.idRegion}" id="radioButton1" th:value="${p.idProjet}+'-'+${l.idRegion}" th:style="'height:20px; width:20px;transform:none; background:' + ${h.couleur} +''"  checked/>								
									
							</th:block>
								</th:block>
								</th:block>
								</th:block>
								</th:block>					
			
								</td> 								
								
							
							</tr>	
										
						</tbody>
						
	<!------------------------- Section pour Point focal------------------------------------------- -->
	
						<thead th:if="${pointFocalName}!=null">	
							<tr >
							
							
							<td>Point focal</td>
							
							<th:block  th:each="l:${listRegion}">						
							<td th:text="${l.nomRegion}" style="text-align:center; background:lightcyan">
							<input type="hidden" id="idRegion" name="idRegion"  th:value="${l.idRegion}"/>
							</td>
							
							</th:block>
							</tr>
						</thead>
						<tbody  th:if="${pointFocalName}!=null" id="bodyForm">
						
							<tr  th:each="p:${listProjet}" valign="middle" >
							<td th:text="${p.nomProjet}" style="background:lightcyan">
							<input  type="hidden" id="idProjet" name="idProjet"  th:value="${p.idProjet}" />
							</td>	
								 <td th:each="l:${listRegion}" style="text-align:center; padding:20px" th:with="test=1">
									<th:block th:each="pr:${pointFocalName}" >
									<th:block th:each="o:${pr.region}">
									<th:block th:each="t:${pr.type}">
									
									<input th:if=" (${p.idProjet}+'-'+${l.idRegion}) eq (${pr.idProjet}+'-'+${o.idRegion})" class="radioProjet" type="radio" th:name="${p.idProjet}+'-'+${l.idRegion}" id="radioButton1" th:value="${p.idProjet}+'-'+${l.idRegion}" th:style="'height:20px; width:20px;transform:none; background:' + ${t.couleur} +''"  checked/>								
							
								<input  type="hidden" id="idType" name="idType"  th:value="${t.nomType}" />
								
								</th:block>
								</th:block>
								</th:block>
																
				
								</td> 								
								
							
							</tr>	
										
						</tbody>
						
<!------------------------- Section pour type------------------------------------------- -->
							<thead th:if="${typeName!=null}">	
							<tr >
							
							
							<td></td>
							
							<th:block  th:each="l:${listRegion}">						
							<td th:text="${l.nomRegion}" style="text-align:center; background:lightcyan">
							<input type="hidden" id="idRegion" name="idRegion"  th:value="${l.idRegion}"/>
							</td>
							
							</th:block>
							</tr>
						</thead>
							
						<tbody  th:if="${typeName}!=null" id="bodyForm">
						
							<tr  th:each="p:${listProjet}" valign="middle" >
							<td th:text="${p.nomProjet}" style="background:lightcyan">
							<input  type="hidden" id="idProjet" name="idProjet"  th:value="${p.idProjet}" />
							</td>	
								 <td th:each="l:${listRegion}" style="text-align:center; padding:20px">
									<th:block th:each="pr:${typeName}" >
									<th:block th:each="t:${pr.projet}">
									<th:block th:each="o:${pr.region}">
									
									<th:block  th:each="pj:${typeName1}"> 
									<input th:if=" (${p.idProjet}+'-'+${l.idRegion}) eq (${t.idProjet}+'-'+${o.idRegion})" class="radioProjet" type="radio" th:name="${p.idProjet}+'-'+${l.idRegion}" id="radioButton1" th:value="${p.idProjet}+'-'+${l.idRegion}" th:style="'height:20px; width:20px;transform:none; background:' + ${pj.couleur} +''"  checked/>								
							
								</th:block>
								
								</th:block>
								</th:block>
								</th:block>
								</th:block>
								</th:block>					
				
								</td> 								
								
							
							</tr>	
										
						</tbody>
						</table>
						
						 </div>
						 <br/>
				
	<!-- </form>	 -->				 
						   <br></br>
<!-- 
  Fenetre modal choix du type
<div class="modal fade" id="choixPartenaire" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Choisir un type</h5>
        
      </div>
      <div class="modal-body" id="modal-body">
    	 
		 <div th:each="t:${listType}">
						 <input class="modalType" name="radioButtonModal" id="radioButtonModal" type = radio th:style="'height:20px; width:20px;transform:none; transition: box-shadow 0.3s ease; background:' + ${t.couleur} +''"/><span th:text="${t.nomType}"></span><br/>
						 </div>
		 <input type = "radio"  name="radioButtonModal" id="radioButtonAucun" style="height:20px; width:20px;"/>&nbsp;&nbsp;<span>Aucun</span><br/>
      </div>
     
      
      <div class="modal-footer">
       
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:href="@{/choixPartenaire}">Fermer</button>
        <a type="button" id="buttonValider" class="btn btn-primary" >Valider</a>
         
      </div>
    </div>
  </div>
</div>


	<!-- Fenetre modal succes-->

   <form th:action="@{choixPartenaire(nomProjet=${nomProjet}, idProjet=${idProjet})}" method="post">
   
<div class="modal fade" id="myModal" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body" id="modal-body-modifier">
      <h6>Partenaire enregistré</h6>
    	 
    	 <div style="text-align:right">
    	
        <button type="submit" id="button" class="btn btn-info" >Fermer</button>
         </div>
      </div>
    </div>
  </div>
</div>

</form>	
	<script th:inline="javascript" th:if="${flag} eq '1'">
	var modal = new bootstrap.Modal(document.getElementById('myModal'), {
		  keyboard: false
		})
	modal.show();
</script>	

<!-- Fenetre modal aucune modification-->

   <form th:action="@{choixPartenaire(nomProjet=${nomProjet}, idProjet=${idProjet})}" method="post">
   
<div class="modal fade" id="modalAucunChangement" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body" id="modal-body-aucun-cahnegement">
      <h6 style="text-align:center">Aucune modification n'a été apportée</h6>
    	 &ensp;
    	 <div style="text-align:center">
    	
        <button type="submit" id="button" class="btn btn-info" >Fermer</button>
         </div>
      </div>
    </div>
  </div>
</div>

</form>	
	<script th:inline="javascript" th:if="${flag} eq '2'">
	var modal = new bootstrap.Modal(document.getElementById('modalAucunChangement'), {
		  keyboard: false
		})
	modal.show();
</script>		 	 
   </div>

</div>
 </div>
</body>
</html>