<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Localité</title>
<style>
table a i{
	transition: all 0.3s linear;
}
.table a:hover i{
	transform: scale(1.5);
}
table td:hover{
	background:#E6EBF0;
}
.error{
	color:red;
}
</style>
</head>
<body>
	<div layout:fragment="content">
     
      	<br/>
		
		<div class = "container">
		<h5>Localisation</h5>
		<hr/>
		<div style="margin: auto; background:#FFFF; width:50%; border-radius:10px; border: 2px solid #FFFFFF; 
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);">
		<div class="col-md-8" style="margin: auto;">
		<br/>
		<form th:action="@{/sauvegarderLocalisation}" method="post"  th:object="${uneLocalisation}"> 
		<div class="form-floating  mb-3">		
			
			<input type="text" class = "form-control" th:field="*{libelleLocalisation}" id="nomLocalisation" placeholder="Localité"/>	
			<label>Nom de la localité<span style="color:red">&nbsp;*</span></label>
			<span th:if="${#fields.hasErrors('libelleLocalisation')}" th:errors="*{libelleLocalisation}" th:errorclass="error"></span>
			<span style="color:red">[[${messageDoublon}]]</span>
			</div>
			
			<button type="submit" class="btn btn-success"  style="margin-left:150px">Enregistrer</button>
			<br></br>
		</form>
		</div>
		</div>
		<br></br>
		
		<div class="col-md-6" style="margin:auto">
			<div class="table-responsive" >
						<table  class="table table-bordered" id="dataTable" style="width:100%; font-size:13px; font-family:Arial;  ">
							
						<tbody>
							<tr th:each="l:${listLocalisation}">
							<td style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);" ><span th:text="${l.libelleLocalisation}"></span>
							</td>
							<td valign="middle" style="text-align:center; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); background: linear-gradient(to right, lightyellow, lightblue);">
							<a type="button" title="Supprimer" th:onclick="showModalSupprimer([[${l.idLocalisation}]], [[${l.libelleLocalisation}]])"><i class="far fa-trash-alt" style="color:red; font-size:20px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"></i></a>
							</td>
							</tr>				
						</tbody>
						</table>
						 </div>
						 </div>
		
      </div>
      
         <form th:action="@{supprimerLocalisation}" method="post">
   <!-- Fenetre modal supprimer -->
<div class="modal fade" id="supLocalisation" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body" id="modal-body-supprimer">
      <h6>Voulez-vous supprimer <span id="libLoc"></span> ?</h6>
    	 
    	 <div style="text-align:right">
    	 <button type="button" class="btn btn-info" data-bs-dismiss="modal" th:href="@{/localisation}">Non</button>
        <button type="submit" id="button" class="btn btn-danger" >Oui</button>
         </div>
      </div>
    </div>
  </div>
  <script>
function showModalSupprimer(idLocalisation, libLocalisation){
	var modal = new bootstrap.Modal(document.getElementById('supLocalisation'), {
		  keyboard: false
		})
	var data= "<input type='hidden' name='idLocalisation' value='"+idLocalisation+"' />"
	document.getElementById('modal-body-supprimer').innerHTML+=data;
	document.getElementById('libLoc').innerHTML=libLocalisation;
	modal.show();
}

</script>
</div>

</form>
  </div>

</body>
</html>