<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title> Authentification </title>
        
        
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
 <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> 
    </head>
    <body >
     
     <div class="container">
     <div class="row">
     <div class="col-md-8">
     <span style="font-size:50px; color:#1F618D; font-family:fantasy">Cartographie des parties prenantes</span>
      <img src="../static/img/cartoLoginImg.jpg}"  th:src="@{/img/cartoLoginImg.jpg}" width="600px" height="600px" alt="" style="margin-left:60px"/>
    </div>
    <div class="connexion col-md-4" style="margin-top:100px;border-radius:1%; border-width:1px;background:linear-gradient(to top,    #5DADE2   ,   #AF7AC5 ,   #F5B041   )">
    
   
    <div style="margin-top:120px">
        <span th:if="${param.error}" class= "alert text-danger" >
        Identifiant ou mot de passe invalide
        </span>
        <span th:if="${param.logout}" class= "alert text-success" >
             
        </span>
        <form th:action="@{/login}" method="post">
		<span style="margin-left:50px"> &nbsp;Login</span>   
		       <div class="input-group" style="width:80%; margin-left:50px">
             <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span><input type="text" name="username" class="form-control" id="username" placeholder="login"/>      
          </div>
          <p></p>           
            <span  style="margin-left:50px"> &nbsp;Mot de passe</span>
            
              <div class="input-group" style="width:80%; margin-left:50px">
              
             <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span><input type="password" name="password" class="form-control" id="password" placeholder="mot de passe"/> 
             <!-- <span class="input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></span> -->
             </div>       
            <br/>  
           <div style="margin-left:90px"> 
            <input type="checkbox" name="passwordVisibility" id="passwordVisibility" style="height:17px;" onclick="showPassword()"><span> &nbsp;&nbsp;Afficher le mot de passe</span>
            </div>
            <br></br>
            <button type="submit" class="form-control btn btn-primary " style="width:50%; margin-left:100px">Connexion </button>
         </form>  
         </div> 
         </div> 
		</div>
	</div>	
	<script>
	function showPassword() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
	</script>
    </body>
</html>