<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Nouveau partenaire</title>
</head>
<body>
	<div layout:fragment="content">
      
      	
		<div class = "container">
		<br/>
		<h5>Nouveau partenaire</h5>
		<hr/>
		<div class="col-md-6" > 

		<!-- <p id="messageSucces" th:if="${messageSucces}" th:text="${messageSucces}" class= "alert alert-success"></p> -->
		<form th:action="@{/sauvegarderPartenaire}" method="post"> 
			<input type="hidden" class = "form-control" name="idPartenaire" th:value="${idPartenaire}"/>
			<span>Nom du partenaire</span><span style="color:red">&nbsp;</span>
			<input type="text" class = "form-control" name="nomPartenaire" th:value="${nomPartenaire}" id="nomPartenaire" placeholder="Nom du partenaire"/>	
			<br/>
			<span>Adresse</span>
			<input type="text" class = "form-control" name="adresse" th:value="${adresse}" id="adresse" placeholder="Adresse"/>
			<br/>
			<button type="submit" class="btn btn-success">Enregistrer</button>
			
		</form>
		</div>
      </div>
  </div>
</body>
</html>