<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Nouveau profil</title>

<style>
table a i{
	transition: all 0.3s linear;
}
.table a:hover i{
	transform: scale(1.5);
}
.error{
	color:red;
}

</style>
</head>
<body>
<div layout:fragment="content">
  
      <div class = "container">
      <br/>
       <h5>Profils</h5> 		 
  		 <hr/>
  		<div style="margin: auto; background:#FFFF; width:50%; border-radius:10px; border: 2px solid #F6DFE3; 
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);">
  		  <div class="col-md-8" style="margin: auto;">
  		 <form th:action="@{/sauvegarderProfil}" method="post" th:object="${unProfil}">
  			<br/>				     
							  <div class="form-floating  mb-3">	  
							     
							    <select id="profil" th:field="*{nomProfil}" class="form-control" >
							      <option value="" hidden>------------</option>
							      <option value="ROLE_ADMIN">ADMIN</option>
							       <option value="ROLE_USER">USER</option>						       
							    </select>
							    <label  class="form-label">Profil</label>
								  <span th:if="${#fields.hasErrors('nomProfil')}" th:errors="*{nomProfil}" th:errorclass="error"></span>
								  <span style="color:red">[[${messageDoublon}]]</span>
							 		</div>					   
						  
						
						  
					    <button type="submit" class="btn btn-success" style="margin-left:160px">Enregistrer</button>

					 <br></br>
						</form>
						</div>
						</div>
						<div class="col-md-6" style="margin:auto; margin-top:25px" th:if="${listProfil}">
			<div class="table-responsive" >
						<table  class="table table-bordered" id="dataTable" style="width:100%; font-size:13px; font-family:Arial;  ">
							
						<tbody>
							<tr th:each="p:${listProfil}">
							<td style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);" ><span th:text="${p.nomProfil}"></span>
							</td>
							<td valign="middle" style="text-align:center; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); background: linear-gradient(to right, lightyellow, lightblue);">
							<a type="button" title="Supprimer" th:onclick="showModalSupprimer([[${p.idProfil}]], [[${p.nomProfil}]])"><i class="far fa-trash-alt" style="color:red; font-size:20px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"></i></a>
							</td>
							</tr>				
						</tbody>
						</table>
						 
<form th:action="@{supprimerProfil}" method="post">
   <!-- Fenetre modal supprimer -->
<div class="modal fade" id="supProfil" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
     
      <div class="modal-body" id="modal-body-supprimer">
      <h6>Voulez-vous supprimer <span id="nomProfilSup"></span> ? </h6>
    	 
    	 <div style="text-align:right">
    	 <button type="button" class="btn btn-info" data-bs-dismiss="modal" th:href="@{/nouveauProfil}">Non</button>
        <button type="submit" id="button" class="btn btn-danger" >Oui</button>
         </div>
      </div>
    </div>
  </div>
  <script>
function showModalSupprimer(idProfil, nomProfil){
	var modal = new bootstrap.Modal(document.getElementById('supProfil'), {
		  keyboard: false
		})
	var data= "<input type='hidden' name='idProfil' value='"+idProfil+"' />"
	document.getElementById('modal-body-supprimer').innerHTML+=data;
	document.getElementById('nomProfilSup').innerHTML = nomProfil;
	modal.show();
}
</script>
</div>

</form>
 </div>
 </div>
  
  </div>
</div>
</body>
</html>