<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Nouvel utilisateur</title>
<style>
.utilisateur{
	line-height:3;
}
</style>

 <script type="text/javascript"> 
 $(document).ready(function(){	
	 const sel = document.querySelector('select');
	 sel.value = 'ROLE_USER'; 
	 sel.dispatchEvent(new Event('change', {'view': window,'bubbles': true}));
 })		
</script>
</head>
<body>

<div layout:fragment="content">
  
      <div class = "container">
      <br/>
      <div class="row">
      <div class="col-md-11">
       <h5>Nouvel utilisateur</h5>
        </div>
         
  		 
  		 <hr/>
  		 
  		 <div class="utilisateur col-md-6">
  		 <form th:action="@{/sauvegarderUtilisateur}" method="post">
  				<div th:object="${unUtilisateur}">
							      
							     <span class="form-label">Nom</span>
							    <input type="text" th:field="*{nomUtilisateur}" class="form-control" placeholder="Nom" />
							     
							   <span class="form-label">Prénom</span>
							    <input type="text" th:field="*{prenomUtilisateur}" class="form-control" placeholder="Prénom" />
							 
							   <span class="form-label">Login</span>
							    <input type="text" th:field="*{login}" class="form-control" placeholder="login" />
							     
							   <span  class="form-label">Mot de passe</span>
							    <input type="password" th:field="*{password}" class="form-control" placeholder="Mot de passe" />
							     
							      <div th:object="${unProfil}">
							     <label for="profil" class="form-label">Profil</label>
							    <select id="profil" th:field="*{nomProfil}" class="form-control">
							      
							      <option th:each="t:${listProfil}" th:text="${t.nomProfil}" th:value="${t.nomProfil}"></option>
							      
							    </select>
							    <input type="hidden" th:field="*{idProfil}"/>
							    </div>
							   <input type="hidden" th:field="*{idUtilisateur}"/>
							  	<br/>	
							  	</div>	
							  				   
					    <button type="submit" class="btn btn-success">Enregistrer</button>

					 
  
					 
						</form>
						</div>	
  </div>
  </div>
</div>

</body>
</html>