<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Nouveau profil</title>

<style>
table a i{
	transition: all 0.3s linear;
}
.table a:hover i{
	transform: scale(1.5);
}

</style>
</head>
<body>
<div layout:fragment="content">
  
      <div class = "container">
      <br/>
     
      
       <h5>Nouveau profil</h5>
       
         
  		 
  		 <hr/>
  		 <div class="row">
  		  <div class="col-md-6">
  		 <form th:action="@{/sauvegarderProfil}" method="post">
  							     
							     
							     <span  class="form-label">Profil</span>
							    <select id="profil" name="profil" class="form-control" >
							      <option value="" hidden>------------</option>
							      <option value="ROLE_ADMIN">ADMIN</option>
							       <option value="ROLE_USER">USER</option>						       
							    </select>
							  
							 							   
						  
						  <br/>
						  
					    <button type="submit" class="btn btn-success">Enregistrer</button>

					 
						</form>
						</div>
						<div class="col-md" style="margin-left:300px; margin-top:25px">
			<div class="table-responsive" >
						<table  class="table table-bordered" id="dataTable" style="width:60%; font-size:13px; font-family:Arial;  ">
							
						<tbody>
							<tr th:each="p:${listProfil}">
							<td style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);" ><span th:text="${p.nomProfil}"></span>
							</td>
							<td valign="middle" style="text-align:center; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); background: linear-gradient(to right, lightyellow, lightblue);">
							<a type="button" title="Supprimer" th:onclick="showModalSupprimer([[${p.idProfil}]], [[${p.nomProfil}]])"><i class="far fa-trash-alt" style="color:red; font-size:20px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"></i></a>
							</td>
							</tr>				
						</tbody>
						</table>
						 </div>
						 </div>
						  </div>
<form th:action="@{supprimerProfil}" method="post">
   <!-- Fenetre modal supprimer -->
<div class="modal fade" id="supProfil" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
     
      <div class="modal-body" id="modal-body-supprimer">
      <h6>Voulez-vous supprimer <span id="nomProfilSup"></span> ? </h6>
    	 
    	 <div style="text-align:right">
    	 <button type="button" class="btn btn-info" data-bs-dismiss="modal" th:href="@{/nouveauProfil}">Non</button>
        <button type="submit" id="button" class="btn btn-danger" >Oui</button>
         </div>
      </div>
    </div>
  </div>
  <script>
function showModalSupprimer(idProfil, nomProfil){
	var modal = new bootstrap.Modal(document.getElementById('supProfil'), {
		  keyboard: false
		})
	var data= "<input type='hidden' name='idProfil' value='"+idProfil+"' />"
	document.getElementById('modal-body-supprimer').innerHTML+=data;
	document.getElementById('nomProfilSup').innerHTML = nomProfil;
	modal.show();
}
</script>
</div>

</form>
 
  </div>
</div>
</body>
</html>