<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Nouveau projet</title>
<style>
.error{
	color:red;
}
<!--.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  opacity: .65;
  transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}-->
</style>

</head>
<body>
	<div layout:fragment="content">
      
   
		
		<div class = "container">
		 &ensp;
		<h5>Nouveau projet</h5>
		<hr/>
		<div style="margin: auto; background:#FFFF; width:60%; border-radius:10px; border: 2px solid #FFFFFF; 
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);">
		<div class="col-md-9" style="margin: auto; line-height:30px;">
		<span style="color:red">[[${messageFile}]]</span>
		
		<form th:action="@{/sauvegarderProjet}" method="post" enctype="multipart/form-data" th:object="${unProjet}"> 
		<input type="hidden" th:field="*{idProjet}"/>
		<br/>
			<div class="form-floating  mb-3">		
			<input type="text" class = "form-control" th:field="*{nomProjet}" id="nomProjet" placeholder="Nom du projet"/>
			<label for="nomProjet">Nom du projet<span style="color:red">&nbsp;*</span></label>
			<span th:if="${messageErreurNomProj}" th:text="${messageErreurNomProj}" style="color:red"></span>
			</div>
			
			<div class="form-floating  mb-3">	
			<input type="text" class = "form-control" th:field="*{pointFocal}" id="pointFocal" placeholder="Point focal"/>
			<label for="pointFocal">Point focal</label>
			</div>
			
			<!-- <div th:object="${unPartenaire}">
			<div class="form-floating mb-3">	
			<select class="form-select" id="nomPartenaire" th:field="*{nomPartenaire}" >
			<option value="" hidden>Sélectionner</option>
			<option th:each="b:${listPartenaire}" th:text="${b.nomPartenaire}" th:value="${b.nomPartenaire}"></option>
			</select>
			<label for="nomPartenaire">Bailleur<span style="color:red">&nbsp;*</span></label>
			<span th:if="${messageErreurPart}" th:text="${messageErreurPart}" style="color:red"></span>
			</div>
			</div> -->
			
			<!-- <div th:object="${uneLocalisation}">
			<div class="form-floating mb-3">	
			<select id="libelleLocalisation" th:field="*{libelleLocalisation}" class="form-control">
			<option value="" hidden >Sélectionner</option>
			<option th:each="b:${listLocalisation}" th:text="${b.libelleLocalisation}" th:value="${b.libelleLocalisation}"></option>
			</select>
			<label for="libelleLocalisation">Localités<span style="color:red">&nbsp;*</span></label>
			<span style="color:red">[[${messageErreurLoc}]]</span>
			</div>
			</div> -->
			
			<div class="form-floating mb-3">
			<input type="text" class = "form-control" th:field="*{description}" id="description" placeholder="Description"/>
			<label for="description">Description</label>
			</div>
			
			<div th:object="${unType}">
			<div class="form-floating mb-3">
			<select id="type" th:field="*{nomType}" class="form-control">
			<option value="" hidden>Sélectionner</option>
			<option th:each="t:${listType}" th:text="${t.nomType}" th:value="${t.nomType}"></option>
			</select>
			<label for="type">Type<span style="color:red">&nbsp;*</span></label>
			<span style="color:red">[[${messageErreurType}]]</span>
			</div>
			</div>
			
			<div class="row">
			<div class=" col-md-2">
			<label for="duree">Durée<span style="color:red">&nbsp;*</span></label>
			<select id="duree" th:field="*{duree}" class="form-control">
			<option value="1" >1</option>
			<option value="2" >2</option>
			<option value="3" >3</option>
			<option value="4" >4</option>
			<option value="5" >5</option>
			</select>
			
			</div>
			
			
			<div class="col-md-4 mb-3">
			<label for="temps"></label>
			<select id="temps" th:field="*{temps}" class="form-control">
			<option value="année" >année</option>
			<option value="mois" >mois</option>
			</select>
			
			</div>
			</div>
			<div class="form-floating mb-3">
			<select id="statut" th:field="*{statut}" class="form-control">
			<option value="En cours" >En cours</option>
			<option value="Inactif" >Inactif</option>
			<option value="Clôturé" >Clôturé</option>
			</select>
			<label for="statut">Statut</label>
			</div>
			
			<label for="file">Ajouter une image</label>
			<input type="file" class = "form-control" name="file" id="file" style="background: #F7F7D2 "/>
			<!-- <br/>
			<input type="checkbox" style="width:18px; height:18px" name="activate" id="activate" th:checked=true checked/>
			<label for="activate">&nbsp;&nbsp;Activer</label> -->
			<br></br>
			
			<button type="submit" class="btn btn-success" style="margin-left:250px" >Enregistrer</button>
			<br></br>
			
			
		</form>
		
		</div>
		</div>
		<br></br>
      </div>
  </div>
</body>
</html>