<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Nouvel utilisateur</title>
<style>
.error{
	color:red;
}

.input-group-text:hover{
	background: lightblue;
}

</style>

 <script type="text/javascript"> 
 $(document).ready(function(){	
	 const sel = document.querySelector('select');
	 sel.value = 'ROLE_USER'; 
	 sel.dispatchEvent(new Event('change', {'view': window,'bubbles': true}));
 })		
</script>
</head>
<body>

<div layout:fragment="content">
  
      <div class = "container">
      <br/>
      <div class="row">
      <div class="col-md-11">
       <h5>Nouvel utilisateur</h5>
        </div>
         
  		 
  		 <hr/>
  		 <div style="margin: auto; background:#FFFF; width:60%; border-radius:10px; border: 2px solid #F6DFE3 ; 
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);">
  		 <div class="utilisateur col-md-9" style="margin: auto;">
  		 <form th:action="@{/sauvegarderUtilisateur}" method="post">
  				<div th:object="${unUtilisateur}">
							<br/>      
				    <div class="form-floating  mb-3">
				    <input type="text" th:field="*{nomUtilisateur}" class="form-control" placeholder="Nom" />
				     <label class="form-label">Nom<span style="color:red">&nbsp;*</span></label>
				      <span th:if="${#fields.hasErrors('nomUtilisateur')}" th:errors="*{nomUtilisateur}" th:errorclass="error"></span>
								 
				      </div>
				     
				     <div class="form-floating  mb-3"> 
				    <input type="text" th:field="*{prenomUtilisateur}" class="form-control" placeholder="Prénom" />
				    <span th:if="${#fields.hasErrors('prenomUtilisateur')}" th:errors="*{prenomUtilisateur}" th:errorclass="error"></span>
				   <label class="form-label">Prénom<span style="color:red">&nbsp;*</span></label>
				  </div>
				  
				  <div class="form-floating  mb-3">
				    <input type="text" th:field="*{login}" class="form-control" placeholder="login" />
				    
				    <label class="form-label">Login<span style="color:red">&nbsp;*</span></label>
				    <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" th:errorclass="error"></span>
				     <span style="color:red">[[${messageDoublon}]]</span>
				     </div>
				     	     
				   <div class="form-floating  mb-3 input-group">
				    <input type="password" th:field="*{password}" class="form-control" placeholder="Mot de passe" style="border-right:none"/>
				     <span class="input-group-text" style="border-left:none;background:#FFFF "><i class="fa fa-eye-slash" aria-hidden="true" onclick="showPassword()"></i></span>
				      <label  class="form-label">Mot de passe</label>
				     
				      </div>
				      <script>
	function showPassword() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
	</script>
				      
				      <div th:object="${unProfil}">
				      <div class="form-floating  mb-3">
				    <select id="profil" th:field="*{nomProfil}" class="form-control">
				      <option th:each="t:${listProfil}" th:text="${t.nomProfil}" th:value="${t.nomProfil}"></option> 
				    </select>
				    <label for="profil" class="form-label">Profil</label>
				    </div>
				    
				    <input type="hidden" th:field="*{idProfil}"/>
				    </div>
				   <input type="hidden" th:field="*{idUtilisateur}"/>
				  	<br/>	
				  	</div>	
						  				   
				    <button type="submit" class="btn btn-success" style="margin-left:230px">Enregistrer</button>

					 <br></br>
  
					 
						</form>
						</div>
						</div>	
  </div>
  </div>
</div>

</body>
</html>