<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Paramètres</title>
</head>
<body>

<div layout:fragment="content">
  
      <div class = "container">
      <br/>
      
       <h5>Paramètres</h5>
       
  		 
  		 <hr/>
  		 &ensp;
  		 <ul style="font-family:Verdana;">
  		 		 <li><a th:href="@{/listeProjet}" style="text-decoration:none">Projets</a></li>
		  		 &ensp;
 		  		 <li><a th:href="@{/utilisateur}" style="text-decoration:none">Utilisateurs</a></li>
		  		 &ensp;
		  		 <li><a th:href="@{/nouveauProfil}" style="text-decoration:none">Profil</a></li>		  	
  		</ul>
</div>
</div>
</body>
</html>