<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Partenaires</title>

<style>
table a i{
	transition: all 0.3s linear;
}
.table a:hover i{
	transform: scale(1.5);
}

table td:hover{
	background:#E6EBF0;
}
</style>

</head>
<body>
<div layout:fragment="content">
<div class = "container">
<br/>
      <div class="row">
      <div class="col-md-11">
       <h5>Partenaires de mise en oeuvre</h5>
        </div>
         <div class="col-md-1">
  		<a class="btn btn-outline-danger" th:href="@{/nouveauPartenaire}" style="color:black">Ajouter</a>
  		 </div>
  		 &ensp;
  		 
  		 <hr/>
  </div>
  
  		<div>
	<h4 th:if="${listPartenaire.isEmpty()}==true" style="color:blue; text-align:center"><a th:href="@{/nouveauPartenaire}">Ajouter un partenaire</a> </h4>
	</div>		
					<span style="color:red">[[${messageErreur}]]</span>
					<div class="table-responsive" th:if="${listPartenaire}" >
						<table  class="table table-bordered" id="dataTable" style="width:100%; font-size:13px; font-family:Arial;  ">
						<thead>
						<tr>
						<td>Partenaire de mise en oeuvre</td>
						<td>Partenaire communautaire</td>
						
						</tr>
						</thead>
						<tbody>
							<tr th:each="p:${listPartenaire}">
							<td style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);width:50%" >
								<a type="button" title="Editer" th:onclick="showModalModifier([[${p.idPartenaire}]])" ><i class="far fa-edit" style="color:green; font-size:15px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"></i></a>&ensp;
								<a type="button" title="Supprimer" th:onclick="showModalSupprimer([[${p.idPartenaire}]])"><i class="far fa-trash-alt" style="color:red; font-size:15px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"></i></a><br/>
								<span th:text="${p.nomPartenaire}"></span><br/>
								<span th:text="${p.adresse}"></span>
							</td>
							<td style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);width:40%" ><a type="button" th:onclick="showModalAjoutPartenaireLocal([[${p.idPartenaire}]], [[${p.nomPartenaire}]])"><i style="width:5px; height:5px; cursor:pointer; text-align:right" class="fa fa-plus" aria-hidden="true"></i></a>
							<th:block th:each="c:${p.partenaireLocal}">
							<ul>
								<li th:text="${c.nomPartenaireLocal}"></li>
							</ul>
							</th:block>
							</td>
							
							</tr>				
						</tbody>
						</table>
						
   <form th:action="@{supprimerPartenaire}" method="post">
   <!-- Fenetre modal supprimer -->
<div class="modal fade" id="supPartenaire" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title">Partenaire</h5>
        
      </div> -->
      <div class="modal-body" id="modal-body-supprimer">
      <h6>Voulez-vous supprimer ?</h6>
    	 
    	 <div style="text-align:right">
    	 <button type="button" class="btn btn-info" data-bs-dismiss="modal" th:href="@{/partenaire}">Non</button>
        <button type="submit" id="button" class="btn btn-danger" >Oui</button>
         </div>
      </div>
    </div>
  </div>
  <script>
function showModalSupprimer(idPartenaire){
	var modal = new bootstrap.Modal(document.getElementById('supPartenaire'), {
		  keyboard: false
		})
	var data= "<input type='hidden' name='idPartenaire' value='"+idPartenaire+"' />"
	document.getElementById('modal-body-supprimer').innerHTML+=data;
	modal.show();
}

function showModalModifier(idPartenaire){
	var modal = new bootstrap.Modal(document.getElementById('modPartenaire'), {
		  keyboard: false
		})
	var data= "<input type='hidden' name='idPartenaire' value='"+idPartenaire+"' />"
	document.getElementById('modal-body-modifier').innerHTML+=data;
	modal.show();
}

function showModalAjoutPartenaireLocal(idPartenaire, nomPartenaire){
	var modal = new bootstrap.Modal(document.getElementById('ajoutPartenaireLocal'), {
		  keyboard: false
		})
	var dataIdPartenaire= "<input type='hidden' name='idPartenaire' value='"+idPartenaire+"' />"
	document.getElementById('modal-body-ajoutPartenaireLocal').innerHTML+=dataIdPartenaire;
	
	 document.getElementById('nomPartenaire').innerHTML= nomPartenaire;
	
	modal.show();
}
</script>
</div>

</form>

<!-- Fenetre modal modifier -->

   <form th:action="@{getDonneesPartenaireAModifier}" method="post">
   
<div class="modal fade" id="modPartenaire" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body" id="modal-body-modifier">
      <h6>Voulez-vous modifier ?</h6>
    	 
    	 <div style="text-align:right">
    	 <button type="button" class="btn btn-info" data-bs-dismiss="modal" th:href="@{/partenaire}">Non</button>
        <button type="submit" id="button" class="btn btn-warning" >Oui</button>
         </div>
      </div>
    </div>
  </div>
</div>

</form>

<!-- Fenetre modal ajouter partenaire local -->

   <form th:action="@{lierPartenaireLocalAPartenaire}" method="post">
   
<div class="modal fade" id="ajoutPartenaireLocal" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header" style="height:20px;">
   
       <h6>Ajouter un partenaire local</h6>  
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body" id="modal-body-ajoutPartenaireLocal">
      <b><label>Partenaire de mise en oeuvre :</label></b>
      <br/>
      <span  id="nomPartenaire"></span>
      <br></br>
      <input type=text class="form-control" id="nomPartenaireLocal" list="list-partenaireLocal" name="nomPartenaireLocal" placeholder="Ajouter un partenaire communautaire"/>
      <datalist id="list-partenaireLocal">
      <option th:each="p:${listPartenaireLocal}" th:value="${p.nomPartenaireLocal}" th:text="${p.nomPartenaireLocal}"></option>
      </datalist>
    	  <br></br>
    	 <div style="text-align:right">
    	 <button type="button" class="btn btn-info" data-bs-dismiss="modal" th:href="@{/partenaire}">Annuler</button>
        <button type="submit" id="button" class="btn btn-warning" >Ajouter</button>
         </div>
      </div>
    </div>
  </div>
</div>

</form>
 </div>
						 
   </div>
</div>

</body>
</html>