<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<form action="/submit-form" method="post">
    <label for="projectName">Nom du projet :</label><br>
    <input type="text" id="projectName" name="projectName"><br><br>
    
    <fieldset id="partners">
        <legend>Partenaires :</legend>
        <div id="partnerInputs">
            <input type="text" name="partners[]" placeholder="Nom du partenaire"><br>
        </div>
        <button type="button" onclick="addPartnerInput()">Ajouter un partenaire</button>
    </fieldset><br>
    
    <fieldset id="municipalities">
        <legend>Communes :</legend>
        <div id="municipalityInputs">
            <input type="text" name="municipalities[]" placeholder="Nom de la commune"><br>
        </div>
        <button type="button" onclick="addMunicipalityInput()">Ajouter une commune</button>
    </fieldset><br>
    
    <fieldset id="localPartners">
        <legend>Partenaires locaux :</legend>
        <div id="localPartnerInputs">
            <input type="text" name="localPartners[]" placeholder="Nom du partenaire local"><br>
        </div>
        <button type="button" onclick="addLocalPartnerInput()">Ajouter un partenaire local</button>
    </fieldset><br>
    
    <input type="submit" value="Soumettre">
</form>

<script>
var partnerIndex = 0;
var municipalityIndex = 0;
var localPartnerIndex = 0;

function addPartnerInput() {
    var input = document.createElement("input");
    input.type = "text";
    input.name = "partners[" + partnerIndex + "]";
    input.placeholder = "Nom du partenaire";
    document.getElementById("partnerInputs").appendChild(input);
    
    // Ajouter des champs cachés pour les communes et les partenaires locaux correspondants
    addHiddenMunicipalityInputs(partnerIndex);
    addHiddenLocalPartnerInputs(partnerIndex);

    partnerIndex++;
}

function addHiddenMunicipalityInputs(index) {
    var input = document.createElement("input");
    input.type = "hidden";
    input.name = "municipalities[" + index + "]";
    input.value = "";
    document.getElementById("partnerInputs").appendChild(input);
}

function addHiddenLocalPartnerInputs(index) {
    var input = document.createElement("input");
    input.type = "hidden";
    input.name = "localPartners[" + index + "]";
    input.value = "";
    document.getElementById("partnerInputs").appendChild(input);
}

function addMunicipalityInput() {
    var input = document.createElement("input");
    input.type = "text";
    input.name = "municipalities[" + municipalityIndex + "]";
    input.placeholder = "Nom de la commune";
    document.getElementById("municipalityInputs").appendChild(input);

    municipalityIndex++;
}

function addLocalPartnerInput() {
    var input = document.createElement("input");
    input.type = "text";
    input.name = "localPartners[" + localPartnerIndex + "]";
    input.placeholder = "Nom du partenaire local";
    document.getElementById("localPartnerInputs").appendChild(input);

    localPartnerIndex++;
}

</script>

</body>
</html>