<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Opérations</title>
</head>
<body>
<div layout:fragment="content">
	<div class="container">
	<div class="table-responsive" >
		<table class="table table-bordered">
			<tbody>
				<tr th:each="us:${userOperations}">
					<td th:text="${us.idUtilisateur}"></td>
					<td th:text="${us.nomUtilisateur}"></td>
					<td th:text="${us.prenomUtilisateur}"></td>
					<td th:text="${us.login}"></td>
				
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	</div>
</body>
</html>