<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Utilisateur</title>
<style>
table a i{
	transition: all 0.3s linear;
}
.table a:hover i{
	transform: scale(1.5);
}
.col-md-6{
	line-height:2;
}
</style>
</head>
<body>

<div layout:fragment="content">
  
      <div class = "container">
      <br/>
      <div class="row">
      <div class="col-md-11">
       <h5>Utilisateur</h5>
        </div>
         <div class="col-md-1">
  		<a class="btn btn-outline-danger" th:href="@{/nouvelUtilisateur}" style="color:black">Ajouter</a>
  		 </div>
  		 &ensp;
  		 
  		 <hr/>
  		 
  		 <div class="table-responsive" >
						<table  class="table table-bordered" id="dataTable" style="width:90%; font-size:13px; font-family:Arial;  ">
							
						<tbody>
							<tr th:each="u:${listUtilisateur}">
							<td style="width:80%; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);" ><span th:text="${u.nomUtilisateur}"></span><br/><span th:text="${u.prenomUtilisateur}"></span>
							</td>
							<td valign="middle" style="text-align:center; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); background: linear-gradient(to right, lightyellow, lightblue);">
							<a type="button" title="Editer" ><i class="far fa-edit" style="color:green; font-size:20px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"></i></a>&ensp;&ensp;
							<a type="button" title="Supprimer" ><i class="far fa-trash-alt" style="color:red; font-size:20px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"></i></a>
							</td>
							</tr>				
						</tbody>
						</table>
						 </div>
  </div>
  </div>
</div>

</body>
</html>