<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Utilisateur</title>
<style>
table a i{
	transition: all 0.3s linear;
}
.table a:hover i{
	transform: scale(1.5);
}
table td:hover{
	background:#E6EBF0;
}
body{
	font-family:Candara
}
.cellTable{
	text-align:center
}

</style>
</head>
<body>

<div layout:fragment="content">
  
      <div class = "container">
      <br/>
      
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb" >
    <li class="breadcrumb-item"><a th:href="@{/parametres}" style="text-decoration:none">Paramètres</a></li>
    <li class="breadcrumb-item active" aria-current="page">Comptes</li>
  </ol>
</nav>
     
         <div style="text-align:right; padding:1% 0 1%" >
  			<a class="btn btn-outline-danger" th:href="@{/nouvelUtilisateur}" style="color:black">Nouveau compte</a>
  		 </div>
  	
  		 
  		 
  	<div>
	<h4 th:if="${listUtilisateur.isEmpty()}==true" style="color:blue; text-align:center"><a th:href="@{/nouvelUtilisateur}">Ajouter un utilisateur</a> </h4>
	</div>	 
  		 <div class="table-responsive" th:if="${listUtilisateur}">
						<table  class="table table-bordered" id="dataTable" style="width:100%; font-size:13px;">
						<thead>
							<tr>
								<th>Prénom et nom</th><th>Statut</th><th class="cellTable">Rôle</th><th class="cellTable">Opérations</th><th class="cellTable">Lier à un projet</th><th class="cellTable">Modifier/Supprimer</th>
							</tr>
						</thead>	
						<tbody>						
							<tr th:each="u:${listUtilisateur}" valign="middle">
								<td style="width:30%;" ><span th:text="${u.prenomUtilisateur}+' '+${u.nomUtilisateur}"></span>
								</td>
								<td>
									<a class="form-check form-switch" style="text-decoration:none; color:black">
										<span th:if="${u.isEnabled}">
	  										<input  class="form-check-input" type="checkbox" role="switch" th:id="checkboxSwitchID+${u.idUtilisateur}" th:onclick="enableOrDisableUserAccount([[${u.idUtilisateur}]])" checked/>
	  										<label style="background: lightgreen; border-radius:10%" th:id="label+${u.idUtilisateur}" th:text="Activé"></label>
	  									</span>
	  									<span th:if="${!u.isEnabled}" >
	  										<input class="form-check-input" type="checkbox" role="switch" th:id="checkboxSwitchID+${u.idUtilisateur}" th:onclick="enableOrDisableUserAccount([[${u.idUtilisateur}]])"/>
	  										<label style="background: #FE3E55; border-radius:10%" th:id="label+${u.idUtilisateur}" th:text="Désactivé" ></label>
	  									</span>
	  								</a>
								</td>
								<th:block th:each="p:${u.profil}">
									<td class="cellTable"><span th:text="${p.nomProfil}"></span></td>
								</th:block>
								<td class="cellTable">
									<a type="button" title="Opérations" th:href="@{operations(login=${u.login})}"><i class="fa fa-tasks" style="color:gray; font-size:20px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"></i></a>&ensp;&ensp;
								</td>
								<td class="cellTable">
									<a type="button" title="Ajouter un projet" th:onclick="showModalAjouterProjet([[${u.idUtilisateur}]], [[${u.nomUtilisateur}]], [[${u.prenomUtilisateur}]])"><i class="fas fa-exchange-alt" style="color:blue; font-size:20px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"></i></a>&ensp;&ensp;
								</td>
								<td class="cellTable">		
									<a type="button" title="Editer" th:onclick="showModalModifier([[${u.idUtilisateur}]], [[${u.nomUtilisateur}]], [[${u.prenomUtilisateur}]])"><i class="far fa-edit" style="color:green; font-size:20px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"></i></a>&ensp;&ensp;
									<a type="button" title="Supprimer" th:onclick="showModalSupprimer([[${u.idUtilisateur}]], [[${u.nomUtilisateur}]], [[${u.prenomUtilisateur}]])"><i class="far fa-trash-alt" style="color:red; font-size:20px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"></i></a>
								</td>
							</tr>				
						</tbody>
						</table>
						 
  
   <form th:action="@{supprimerUtilisateur}" method="post">
   <!-- Fenetre modal supprimer -->
<div class="modal fade" id="supUtilisateur" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title">Partenaire</h5>
        
      </div> -->
      <div class="modal-body" id="modal-body-supprimer">
      <h6>Voulez-vous supprimer <span id="prenomEtNomUserSup"></span> ? </h6>
    	 
    	 <div style="text-align:right">
    	 <button type="button" class="btn btn-info" data-bs-dismiss="modal" th:href="@{/utilisateur}">Non</button>
        <button type="submit" id="button" class="btn btn-danger" >Oui</button>
         </div>
      </div>
    </div>
  </div>
  <script>
function showModalSupprimer(idUtilisateur, nomUtilisateur, prenomUtilisateur){
	var modal = new bootstrap.Modal(document.getElementById('supUtilisateur'), {
		  keyboard: false
		})
	var data= "<input type='hidden' name='idUtilisateur' value='"+idUtilisateur+"' />"
	document.getElementById('modal-body-supprimer').innerHTML+=data;
	document.getElementById('prenomEtNomUserSup').innerHTML = prenomUtilisateur+' '+nomUtilisateur;
	modal.show();
}

function showModalModifier(idUtilisateur, nomUtilisateur, prenomUtilisateur){
	var modal = new bootstrap.Modal(document.getElementById('modUtilisateur'), {
		  keyboard: false
		})
	var data= "<input type='hidden' name='idUtilisateur' value='"+idUtilisateur+"' />"
	document.getElementById('modal-body-modifier').innerHTML+=data;
	document.getElementById('prenomEtNomUserMod').innerHTML = prenomUtilisateur+' '+nomUtilisateur;
	modal.show();
}

function showModalAjouterProjet(idUtilisateur, nomUtilisateur, prenomUtilisateur){
	var modal = new bootstrap.Modal(document.getElementById('ajoutProjetUtilisateur'), {
		  keyboard: false
		})
	var data= "<input type='hidden' name='idUtilisateur' value='"+idUtilisateur+"' />"
	document.getElementById('modal-body-ajoutProjet').innerHTML+=data;
	document.getElementById('prenomEtNomUser').innerHTML = prenomUtilisateur+' '+nomUtilisateur;
	modal.show();
}

function enableOrDisableUserAccount(idUtilisateur){
	var checkboxSwitchID = document.getElementById("checkboxSwitchID"+idUtilisateur);
	var labelID = document.getElementById("label"+idUtilisateur);
	var labelBackground;
	var isEnabled = new Boolean();
	var isEnabledValueTranslate;
	if(checkboxSwitchID.checked){
		isEnabled = true;
		isEnabledValueTranslate = "Activé";
		labelBackground = "lightgreen";
	}
	if(!checkboxSwitchID.checked){
		isEnabled = false;
		isEnabledValueTranslate = "Désactivé";
		labelBackground ="#FE3E55";
	}
	
	$.get("/enableOrDisableUserAccount", {idUtilisateur:idUtilisateur, isEnabled:isEnabled});
	labelID.innerHTML = isEnabledValueTranslate;
	labelID.style.backgroundColor = labelBackground;
}
</script>

</div>

</form>

<!-- Fenetre modal modifier -->

   <form th:action="@{getDonneesUtilisateurAModifier}" method="post">
   
<div class="modal fade" id="modUtilisateur" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body" id="modal-body-modifier">
      <h6>Voulez-vous modifier l'utilisateur <span id="prenomEtNomUserMod"></span> ? </h6>
    	 
    	 <div style="text-align:right">
    	 <button type="button" class="btn btn-info" data-bs-dismiss="modal" th:href="@{/utilisateur}">Non</button>
        <button type="submit" id="button" class="btn btn-warning" >Oui</button>
         </div>
      </div>
    </div>
  </div>
</div>

</form>

<!-- Fenetre modal Ajouter un projet à l'utilisateur -->

   <form th:action="@{getDonneesProjetAAjouterAUtilisateur}" method="post">
   
<div class="modal fade" id="ajoutProjetUtilisateur" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body" id="modal-body-ajoutProjet">
      <h6>Voulez-vous ajouter un projet à  <span id="prenomEtNomUser"></span> ? </h6>
    	 
    	 <div style="text-align:right">
    	 <button type="button" class="btn btn-info" data-bs-dismiss="modal" th:href="@{/utilisateur}">Non</button>
        <button type="submit" id="button" class="btn btn-warning" >Oui</button>
         </div>
      </div>
    </div>
  </div>
</div>

</form>
  </div>
  
  </div>
</div>

</body>
</html>